<header>
  <img src="assets/icon.png" alt="logo">
  <p>Tchitos Playground</p>
</header>
<main>
  <form (submit)="shuffle()">
    <div id="result" *ngIf='show;else init'>
      <p>{{deConstructed}} </p>
      <button type="button" (click)="show=false">Retry</button>
    </div>
    <ng-template #init>
      <div class="text">
        <input type="text" placeholder="ex: patrimoine" name="word" id="word" [(ngModel)]="word" autocomplete="off">
        <span class="clear" type="button" (click)="word=''" *ngIf='word.length>0'>
          <img src="assets/cancel.png" alt="cancel">
        </span>
        <button>Shuffle</button>
      </div>
    </ng-template>
  </form>
</main>